@media (min-width: 768px) {
    .business {
        margin-block-start: 180px;
    }

    .business__header {
        max-width: 450px;
    }

    .business__navigation_container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 10px;
        column-gap: 10px;
        grid-row-gap: 80px;
        row-gap: 80px;
    }

    .business__image {
        border-radius: 24px;
        height: 70%;
    }

    .business__image--smarthome {
        margin-block-start: 188px;
    }

    .business__image--booking {
        margin-block-start: 50px;
    }

    .business__image--juice {
        margin-block-start: -80px;
    }

    .business__more_content {
        margin-block-start: -150px;
        float: inline-end;
    }
}