@import 'variables';

@media (min-width: 768px) {
    .masthead {
        padding: $margin;
    }

    .masthead__label_menu::before {
        display: none;
    }

    .masthead__navigation_container {
        width: max-content;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-inline-start: 75vw;
    }

    .masthead__list_item {
        margin-inline-start: $margin;
    }
}
