@media (min-width: 768px) {
    .person {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 80px;
        column-gap: 80px;
    }

    .person__container {
        grid-column: 1 / 2;
    }

    .person__image {
        grid-column: 2 / 4;
    }
}
