.purpose {
    margin-inline-start: 24px;
    margin-inline-end: 28px;
    margin-block-end: 48px;
}

.purpose__information {
    font-size: 12px;
}

.purpose__submit_form {
    margin-block-start: 32px;
}

.purpose__submit_form__label {
    font-size: 10px;
}

input[type="text"] {
    font-family: 'Poppins_medium';
    padding-right: 70px;
    padding-block-start: 12px;
    padding-block-end: 12px;
    border-radius: 12px;
    border: none;
    background-color: #f2f2f2;
    padding-inline-start: 16px;
    color: #dbdbdb;
    margin-block-start: 8px;
}

input[type="submit"] {
    font-family: 'Poppins_medium';
    margin-left: -90px;
    background-color: #2d9cdb;
    color: white;
    border: 0;
    padding-inline: 16px;
    padding-block: 9px;
    border-radius: 12px;
    -webkit-appearance: none;
}

input[type="submit"]:hover {
    transform: scale(1.1);
}

