.purpose {
    margin-inline-start: 24px;
    margin-inline-end: 28px;
    margin-block-end: 48px;
}

.purpose__submit_form {
    margin-block-start: 32px;
}

input[type="text"] {
    padding-right: 60px;
    padding-block-start: 12px;
    padding-block-end: 12px;
    border-radius: 12px;
    border: none;
    background-color: #f2f2f2;
    padding-inline-start: 16px;
    color: #dbdbdb;
    margin-block-start: 8px;
}

input[type="submit"] {
    margin-left: -85px;
    background-color: #2d9cdb;
    color: white;
    border: 0;
    padding-inline: 16px;
    padding-block: 9px;
    border-radius: 12px;
    -webkit-appearance: none;
}

input[type="submit"]:hover {
    transform: scale(1.1);
}

